{% extends "theme.html" %}
{% load staticfiles %}

{% block style %}
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <style>
        #app {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: center;
            color: #2c3e50;
        }
        div.showImage > button{
            margin-top: 280px;
        }
        #img1{
            width: 800px ;
            height: 350px ;
            text-align: center;
        }
        #faceform{
            text-align: center;
        }
        .col-center-block {
          float: none;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .img-responsive {
          display: block;
          height: auto;
          max-width: 100%;
        }


    </style>
{% endblock style %}

{% block content %}
  <div id="app" class="container">
      <form class="" id="faceform" action="https://api-cn.faceplusplus.com/cardpp/v1/ocrbankcard" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group col-md-6 col-center-block">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image_file" @change="getFile1" id="image_file1" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="image_file1">Choose file</label>
          </div>
        </div>
      </form>
      <br>
      <div class="col-md-6 col-center-block">
        <button type="button" @click="submit" class="btn btn-info">Identify</button>
        <br>
        <br>
        <span id="showgesture"></span>
        <br>
        <br>
      </div>
      <div class="row">
        <div class="col-md-6 col-center-block">
          <img class="img-responsive" id="img1" :src="src1" hidden>
        </div>
      </div>
  </div>

{% endblock content %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script>
    var app = new Vue({
      el: '#app',
      data:{
          src1: '',
          file1: null,
          gesture: false
      },
      methods:{
        submit:function(){
            var self = this
            var gesture_model = {
                hand_open:'Hand open',unknown:'Unknown',Heart_a:'Heart style A',heart_b:'Heart style B'
                ,heart_c:'Heart style C',ok:'OK',hand_open:'Hand open',thumb_up:'Thumb up',thumb_down:'Thumb down',
                rock:'ROCK',namaste:'Hands together', palm_up:'Palm up',fist:'Fist',index_finger_up:'Index finger up',
                double_finger_up:'Double finger up',victory:'Victory',big_v:'Big V',phonecall:'Make a phonecall',
                beg:'Beg',thanks:'Thanks',big_v:'Big V'
            }
            $('#showgesture').text('In the calculation, please wait...')
            $.ajax({
                url: 'gesture_request/',
                type: 'POST',
                cache: false,
                data: new FormData($('#faceform')[0]),
                processData: false,
                contentType: false,
                timeout: 10000,//10秒超时时间
            }).done(function(res) {
                try {
                for (var key in res.hands[0].gesture) {
                  if(res.hands[0].gesture[key] >= 55){
                      gesture = gesture_model[key]
                      $('#showgesture').text('Gesture: '+ gesture)
                      break;
                  }
                  else{
                      gesture = 'unknown'
                      continue;
                  }
                }
                }
                catch (e) {
                $('#showgesture').text('Gesture: unknown, please try it again!')
                }
            }).fail(function(res) {
                $('#showgesture').text('Gesture: unknown, please try it again!')
            });
        },
        getFile1:function($event){
          this.file1 = $event.target.files[0];
          var reader = new FileReader();
          reader.readAsDataURL(this.file1);
          var app = this;
          reader.onloadend=function() {
              app.src1 = this.result;
              $('#img1').attr('hidden',false)
          };
        },
      }
    })
</script>

{% endblock scripts %}
