<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="然小狼 | ranxiaolang.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ziran Gong">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>然小狼 | ranxiaolang.com</title>


    {% block style %}

    {% endblock style %}

    <!-- core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
   <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href=" {% url 'main' %}">
          <img  src="{% static "/images/logo0.png" %}"style="height: 3.8rem" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav justify-content-end container-fluid p-0 mt-2 mt-md-0">
              <li class="nav-item text-right">
              <a class="nav-link" href="{% url 'main' %}">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item dropdown text-right">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
              </a>
              <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="https://nature1995.club/Face-Recognition-System">Intelligent Facial Recognition System</a>
                  <a class="dropdown-item" href="https://nature1995.club/Flight-Delay-Prediction">Prediction of Flight Delays</a>
                  <a class="dropdown-item" href="https://github.com/angryducks/speech-box">AI Text and Recording keyword Extraction</a>
                  <a class="dropdown-item" href="https://github.com/angryducks/angry-ducks">AI Speech Sentiment Text Recorder</a>
                  <a class="dropdown-item" href="https://github.com/nature1995/weather-forecast-alert">Weather Forecast Alert</a>
                  <a class="dropdown-item" href="https://sites.google.com/view/ziran">Intelligent Facial Recognition System (Web)</a>
                  <a class="dropdown-item" href="https://sites.google.com/view/ee608">Prediction of Flight Delays (Web)</a>
              </div>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item dropdown text-right">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resource
              </a>
              <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
              </div>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item dropdown text-right">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
              </a>
              <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="">Software</a>
                  <a class="dropdown-item" href="">Document</a>
                  <a class="dropdown-item" href="{% url 'rasp' %}">IOT</a>
                  <a class="dropdown-item" href="{% url 'face_comparison' %}">Face Comparison</a>
                  <a class="dropdown-item" href="{% url 'bank_card' %}">Bank Card Detection</a>
                  <a class="dropdown-item" href="{% url 'gesture' %}">Gesture Detection</a>
                  <a class="dropdown-item" href="{% url 'predict' %}">Objects Prediction</a>
              </div>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item text-right">
              <a class="nav-link" href="https://nature1995.club/about/">About&nbsp;</a>

              </li>

              <li class="nav-item text-right">
                  {% if user.is_authenticated %}
                  <a class="btn btn-outline-dark" href="JavaScript:{document.getElementById('退出').submit()}">Logout</a>
                  <form id= '退出' method="POST" action='{% url 'LogoutPage' %}' align='center'>
                  {% csrf_token %}
                  <input type="hidden">
                  </form>
                  {% else %}
                  <a class="btn btn-dark" href="{% url 'LoginPage' %}">Sign in</a>&nbsp;
                  <a class="btn btn-outline-dark" href="{% url 'SignupPage' %}">Sign up</a>
                  {% endif %}
              </li>
          </ul>
        </div>
      </nav>
    </header>

    {% block content %}

    {% endblock content %}

    <section id="footer_nav" class="bg-light mt-4">
    <div class="container pt-3 pb-4">
        <dl class="row mb-0">
            <div class="col-sm">
                <dt class="mb-1 mt-2">Topics</dt>
                <dd class="mb-0">
                    <a class="text-dark" href="http://www.ranxiaolang.com:8000">
                        Cloud Disk</a>
                </dd>
             </div>
            <div class="col-sm">
                <dt class="mb-1 mt-2">About Me</dt>
                <dd class="mb-0">
                     <a class="text-dark" href="https://nature1995.club/about/">Ziran Gong&nbsp;</a>
                </dd>
            </div>
            <div class="col-sm">
                <dt class="mb-1 mt-2">Follow Us</dt>
                <dd class="mb-0">
                    <img style="height: 1.5rem" src="https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/qMUjOdv.png">
                        <a class="text-dark" href="{% static '/images/gzr-youlang.png' %}">WeChat&nbsp;</a>
                </dd>
            </div>
        </dl>
    </div>
    </section>

    <footer class="text-muted">
      <div class="container">
        <p align="center"> ©2018-2019&nbsp;&nbsp;然小狼&nbsp;&nbsp;|&nbsp;Ranxiaolang</p>
        <p align="center"> <a align="center" class="text-muted" href="http://www.miitbeian.gov.cn/"> All Rights Reserved.</a>
        </p>
      </div>
    </footer>

    <!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

  {% block scripts %}

  {% endblock scripts %}
</html>




